# Intellij files
.idea/
.settings/
.project
.classpath
.vscode/

# gradle's output dir
build/
bin/
out/

# the gradle temp dir
.gradle

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# GoCD volume mounts
/go
